header {
	height: 20vh;
	border-bottom: solid 1px black;

	.titulo-animado {
		font-size: 40px;
		color: white;
		animation: agrandarTitulo 5s ease-out forwards;
	}
	@keyframes agrandarTitulo {
		0% {
			font-size: 40px;
			color: white;
		}
		100% {
			font-size: 40px;
			color: black;
		}
	}
	#titulo h1 {
		font-size: 40px;
	}
	#titulo1 a {
    		text-decoration: none;
    		color: black;
    	}
	#titulo a {
    		text-decoration: none;
    		color: black;
    }
		#titulo a h1:hover {
			color: #f9b51d;
			font-weight: bold;
		}
	#ingreso {
		padding-top: 15px;
		vertical-align: middle;
	}
}